.header {
  display: block;
  width: 1400px;
  position: relative;
  margin: 15px auto;
}

.playground {
  margin: 15px 15px;
  padding: 2px;
  display: grid;
  grid-template: repeat(10, max(11px)) / repeat(10, max(11px));
  width: 1100px;
  height: 638px;
  background: rgb(240, 240, 240);
}
